---
import '@fontsource/kanit';
---
<div class="flex flex-col justify-center items-center kaite 2xl:flex-row mt-32 pb-60 text-center mx-10 xl:mx-20 gap-28">
    <div class="flex flex-col justify-center items-center mb-10">
        <h1 class="text-5xl text-center mb-10 xl:text-7xl flex flex-col">
            <span class="text-8xl xl:text-9xl">ASTRAM</span>
            DYNAMICS
        </h1>
        <p class="font-lato text-xl xl:text-2xl font-light">Enhancing our capabilities, protecting our own.</p>
    </div>
    <div>
        <img src="./img/ship.png"/>
    </div>
</div>
<svg class="w-full h-2">
    <line class="stroke-zinc-500" x1="5%" y1="0.5" x2="95%" y2="0.5" />
</svg>

<style>
    h1{
        font-family: "kanit";
    }
</style>